/* Odin Modern Light Theme*/

/**
 * App Window
 */
@define-color bg_color rgba(250,250,250,1);
@define-color window_bg @bg_color;
@define-color prefs_background #aaa;

/**
 * Input
 */
@define-color selected_bg_color #d5ebfd;
@define-color selected_fg_color #333;
@define-color input_color #333;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name #333;
@define-color item_text #333;
@define-color item_box_selected #dcdcdc;
@define-color item_text_selected #333;
@define-color item_name_selected #333;
@define-color item_shortcut_color #666;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #666;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);
/**
 * Custom
 */
@define-color window_inner_border_color rgba(255, 255, 255, .075); /*only needed for dark theme*/
@define-color window_outer_border_color rgba(0,0,0,.2);

@define-color input_text_box_color #fff;
@define-color input_text_box_border rgba(0,0,0,.2);
@define-color input_text_box_bottom_extra_border #fff; /*not needed for light theme*/
@define-color input_text_box_inset_shadow rgba(0,0,0,.2);

@define-color item_shortcut_box_color #e6e6e6;
@define-color item_shortcut_box_shadow #d5d5d5;
@define-color item_shortcut_box_color_sel #cbcbcb;
@define-color item_shortcut_box_shadow_sel #bcbcbc;

@define-color item_divider_upper_part #d5d5d5;
@define-color item_divider_lower_part #fff;

.app {
    background-color: @window_bg;
    border-radius: 7px;
    border: 0px solid @window_inner_border_color; /*deactivated for light theme. Needs 0px because default theme has border*/
    box-shadow: 0 8px 10px 0px rgba(0,0,0,.5), /* .5 for light, .8 for dark */
                0 0 0 1px @window_outer_border_color;
    margin: 0px 5px 30px 5px;
}

.input {
    font-size: 34px;
    font-weight: 600;
    color: @input_color;

    margin: -14px -54px -16px -15px;
    padding-left: 15px; /*Fix for cut off selection box*/
    padding-right: 55px; /*Making space for the prefs button*/
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 1);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
    font-size: 12px;
    font-weight: 400;
    margin-left: -13px; /*To move text left because of moved icons*/
}
.item-name {
    color: @item_name;
    margin-top: 2px; /*To center text to icon height*/
    font-size: 16px;
    font-weight: 500;
}

.selected.item-box {
    /*background-color: @item_box_selected;*/
    background: linear-gradient(180deg,
                rgba(0,0,0,0) 0%,
                rgba(0,0,0,0) 9%,
                @item_box_selected 9%, /*9% to accomodate for almost invisible Seperator color*/
                @item_box_selected 93%,
                rgba(0,0,0,0) 93%,
                rgba(0,0,0,0) 100%);  /*special fix to make the selection box smaller than the actual item box without editing the source code so it doesnt overlap with the window corners on the bottom. Make the top and bottom parts of the gradient the same width if you have removed the dividers*/
}

.selected.item-box .item-text {
    color: @item_text_selected;
}

.selected.item-box .item-name {
    color: @item_name_selected;
}

.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 0 0; /*remove shadow from default theme*/

    background-color: @item_shortcut_box_color;
    box-shadow: 0 1px 0px @item_shortcut_box_shadow;

    margin: 16px 3px; /*resizing shortcut box*/
    padding-top: 1px; /*recentering text because size 10 font makes text jump up one pixel*/
    border-radius: 3px;
    font-size: 10px;
    font-weight: 300;

}

.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 0 0; /*remove shadow from default theme*/

    background-color: @item_shortcut_box_color_sel;
    box-shadow: 0 1px 0px @item_shortcut_box_shadow_sel;
}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn * {
    box-shadow: none;
}
.prefs-btn:hover {
    background-color: @prefs_background;
}

.no-window-shadow {
    margin: -20px; /*what the heck is this*/
}
/**
 * Custom for Odin Theme
 */
.item-icon {
    margin-left: -25px; /*finally moving the icons to the left and bringing them in line*/
}

.item-container {
    margin-right: -10px; /*Moving the shortcut boxes to the right*/
    margin-top: 3px; /*Making space for the dividers*/
    margin-bottom: 1px; /*same as abve but smaller because the dividers are 2px shadows located at the top of the items*/
}

.result-box {
    margin-bottom: -9px; /*Minimzing the distracting bottom bar. Further shrinking not possible because selected item boxes would overlap in the window corners*/
    /*Light theme needs -9px instead of -10px because overlap still visible. Overlap in dark theme not visible at -10px because of extra border that is deactivated in light theme*/
    margin-top: -2px; /*to get rid of the bigger border under the input box when expanded*/
}

.item-frame {
    box-shadow: inset 0px 2px @item_divider_lower_part, inset 0px 1px @item_divider_upper_part; /*dividers between items. If you want to get rid of these, remember to also remove the top and bottom margins in .item-conatiner and to edit the gradient in .selected.item-box!*/
}
